* {
    margin: 0%;
    padding: 0%;
}

#head {
    padding-top: 30px;
    font-family: 'Niconne', cursive;
}

#backg {
    background: rgb(219, 245, 242);
    background: radial-gradient(circle, rgba(219, 245, 242, 1) 37%, rgba(162, 226, 17, 1) 100%);
}

#prfl {
    width: 15%;
    height: 50%;
    border-radius: 20%;
    margin-top: 30px;
}

.strip {
    width: 100%;
    height: 30px;
    background-color: white;
    margin-bottom: 10px;
}

.hobby {
    padding: 5px;
    border-radius: 40px;
}

#foot {
    width: 100%;
    height: 20vh;
    background: rgb(219, 245, 242);
    background: radial-gradient(circle, rgba(219, 245, 242, 1) 37%, rgba(162, 226, 17, 1) 100%);
}

.social {
    padding: 10px;
}